container_commands:
  01_update_nginx:
    command: |
      echo "types_hash_max_size 2048;" >> /etc/nginx/nginx.conf
      echo "types_hash_bucket_size 128;" >> /etc/nginx/nginx.conf
files:
  "/etc/nginx/conf.d/proxy.conf":
    mode: "000644"
    owner: root
    group: root
    content: |
      client_max_body_size 50M;
